{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}  
<div id="box1">
    <h1 class="display-6">This website was created as a part of CS50x, as Final Project.</h1>
    <br>
    <div class="card-group" id="division">   
        <div class="card" style="width: 15rem;">
            <img src="../static/email.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Mail</h5>
                <p class="card-text">Send a query</p>
                <a href="mailto:raghavkorde4@gmail.com" class="btn btn-primary">Mail</a>
            </div>
        </div>
    </div>
    <br>
    <br>    
</div>
    
{% endblock %}