{% extends "layout.html" %}

{% block title %}
    Instructions
{% endblock %}

{% block main %}
        <div id="box1">
            <h1 class="display-6">Simply drag and drop image file and wait until the page redirects (it may take a bit long for '.gif' files).</h1>
            <figure class="figure">
                <img src="../static/1.gif" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption">(illustration)</figcaption>
            </figure>
            <br>
            <h1 class="display-5">OR</h1>
            <br>
            <h1 class="display-6"> For images already on web, copy image address and paste in the given field.</h1>
            <figure class="figure" style = "width: 600px; height: auto;">
                <img src="../static/2.gif" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption">(illustration)</figcaption>
            </figure>
        </div>



{% endblock %}